*{
    margin: 0;padding: 0;box-sizing: border-box;
}


.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table ,th ,td{
    text-align: center;
    border-right: 2px solid white;
    border-collapse: collapse;
    /* width: 100px; */
    padding: 5px;
    padding-left: 20px;
    
}
.head{
    height: 5rem;
    width: 10rem;
}
.fa , .imp{
    font-size: 28px;
    color: #64548f;
    margin-right: 10px;
}
.green{
    color: green;
}
.center{
    text-align: center;
    text-transform: uppercase;
}
img{
    height: 1rem;
    width: 1rem;
}

.basic
{
    background-color: #c1dcb7;
    /* border-spacing: 2px; */
}
.plus
{
    background-color: #bad6c8;
}
.deluxe
{
    background-color: #bbd3dc;
}
.pro
{
    background-color: #d5e4bc;
}
button{
    background-color: #64548f;
    padding: 20px;
    border-radius: 20%;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
}
button:hover{
    background-color: red;
}
