*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #2f3640;
    color: white;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
}

.header img{
    height: 12vh;
    width: 80px;
    margin-right: 10px;
}

.header h1{
    line-height: 70px;
}

.content{
    width: 100%;
    padding: 20px;
    margin-top: 12vh;
    transition: 0.7s;
    float: right;
}

.content img{
    width: 100%;
    max-width: 550px;
    display: block;
    margin: auto;
    height: 65vh;
}

.content p{
    text-align: justify;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 12vh;
    background-color: #353b48;
    left: -100%;
    transition: 0.7s;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.sidebar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    transition: 0.4s;
}

a i{
    margin-right: 15px;
}

.sidebar ul li a:hover{
    border-left: 10px solid #fff;
}

.social{
    margin-top: 156px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    border-top: 2px solid rgba(255,255,255,0.1);
    padding: 15px 25px;

}
i{
    font-size: 30px ;
    color: white;

}

.show-btn , .hide-btn{
    font-size: 30px;
    color: white;
    position: fixed;
    top: 20px;
    left: 15px;
}

.hide-btn{
    opacity: 0;
}
#chk
{
    position: absolute;
    visibility: hidden;
    z-index: -100;
}
#chk:checked ~ .sidebar{
    left: 0;
}
#chk:checked ~ .show-btn{
    opacity: 0;
}
#chk:checked ~ .hide-btn{
    opacity: 1;
}

#chk:checked ~ .content{
    width: 70%;
}

@media(max-width: 768px){
    .sidebar{
        width: 100%;
        text-align: center;
    }
    .header h1{
        display: none;
    }
}