*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer , .footer1{
    width: 100%;
}
/* content  */
.content{
    color: grey;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 25px;
}
/* footer  */
.footer{
    background-color: #26272b;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.about{
    width: 32%;
    text-align: justify;
}
.footer h4{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer p ,.footer li {
    color: grey;
    font-size: 16px;
}
.contact .fa{
    margin-right: 10px;
}
/* footer1  */
.footer1{
    background-color: #26272b;
    line-height: 4;
}

hr{
    opacity: 0.2;
}

.copyright , .sign{
    text-align: center;
    color: white;
}
.sign{
    font-size: 27px;
    padding: -3px;
}
.sign a{
    display: inline-block;
    color: white;
    padding: 3px 20px 3px 20px;
    background-color: red;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 19px;
    line-height: 2;
}
.sign a:hover{
    color: white;
    background-color: orange;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.social ul{
    display: inline-block;
    color: white;
} 
.social ul li{
    float: left;
}
a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color: orange;
}
.social a{
    color: white;

}
ul{
    list-style: none;
}

.copyright{
    background-color: black;
    padding: 8px;
}
.social ul li{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;
}
.social ul li:nth-child(1):hover {
    background-color: #3b5999;
  }
  .social ul li:nth-child(2):hover {
    background-color: #55acee;
  }
  .social ul li:nth-child(3):hover {
    background-color: #dd4b39;
  }
  .social ul li:nth-child(4):hover {
    background-color: #0077b5;
  }
  .social ul li:nth-child(5):hover {
    background-color: #ea4c89;
  }

  .social ul li i {
    color: white;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
  }