* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header  */

.header {
  background-color: gray;
  width: 100%;
  height: 5rem;
}
.header p {
  text-align: center;
  color: white;
  line-height: 5rem;
  font-size: 2rem;
}

/* banner  */

.banner {
  height: 100vh;
  width: 100%;
  background-color: skyblue;
  margin-top: 15px;
  margin-bottom: 20px;
}
.banner p,
.left p {
  text-align: center;
  line-height: 100vh;
  color: white;
  font-size: 2rem;
}

.sec1 h3,
.sec2 h3,
.sec4 h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}
.circle {
  display: inline-flex;
  width: 100%;
  height: 320px;
}
.c1,
.c2,
.c3,
.c4 {
  background-color: goldenrod;
  border-radius: 100%;
  height: 300px;
  width: 23%;
  margin: 0 auto;
}
.sec2 {
  width: 100%;
}
.divide {
  margin-top: 20px;
  display: inline-flex;
  width: 100%;
  height: 100vh;
}
.left {
  width: 50%;
  background-color: gray;
}
.right {
  width: 48%;
  float: right;
  margin: 0 auto;
  justify-content: center;
}
.a1,
.a2,
.a3 {
  background-color: tomato;
  height: 31%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
}

/* sec3 grid  */
.sechead h3 {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.sec3 {
  display: inline-flex;
  height: 25rem;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 0 auto;
}
.box1,
.box2,
.box3,
.box4 {
  background-color: rgb(132, 233, 38);
  width: 24%;
  margin: 0 20px 0 20px;
}

/* footer */

.sec4 {
  margin-top: 20px;
  margin-bottom: 0;
}
.footer {
  background-color: violet;
  height: 4rem;
}
.footer p {
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color: white;
}
