*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
a{
    text-decoration: none;
    display: block;
    border: 1px solid blck;
    border-radius: 7px;
    text-align: center;
    background-color: red;
    color: white;
    padding: 5px;
    margin: 1rem auto;
}
a:hover{
    background-color: blue;
    color: white;
}
img{
    display: inline-block;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    height: 10rem;
}
h3{
    text-align: center;
    padding: 1rem;
}
h1{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
/* pseudo class selectors */

.heading{
    color: white;
    text-align: center;
}
.container{
    width: 100%;
    height: 20rem;
}
.box{
    display: inline-block;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 1rem;
    width: 18.5rem;
    height: 23rem;
    background-color: white;
    border-radius: 15px;
}