*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    font-size: 1.2rem;
    background-color: lightgrey;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33rem;
    height: 25rem;
}
.image{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.content{
    background-color:#575bac;
    padding: 0.5rem;
    margin: 1.5rem;
}